
body {
    
    margin: 0 auto;
    overflow: scroll;
    background-color: #f9f8ed;
}



.p2-header {
    background-color: white;
    padding: 60px;
    text-align: center;
    
    
}


.p2-header h1 {
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: #3d3d3d;
    padding: 0 50px;
    text-align: center;
    
}



.p2-header h1 , span {
    color: #b1b1b1;
}

.p2-header span {
    padding: 3px;
    color: #3d3d3d;
}

.p2-navbar {
    background-color: #b1b1b1;
    overflow: hidden;
}

.p2-navbar li {
    width: 80px;
    float: left;
    display: inline; 
}


.p2-navbar a {
    display: block;
    text-align: center;
    color: white;
    padding: 18px;
    text-decoration: none;
    width: 40px;
    font-size: 20px;
}

.p2-navbar a:hover {
    background: url(image/pg2-dog-paw.png)no-repeat left center;
    background-size: 50%;
}


.p2-nav-serch {
    width: 1060px;
    margin: 0 auto;
}
  
    
.p2-nav a {
    text-decoration: none;
    border-radius: 5px;
    color: black;
    padding: 5px;
    margin: 4px;
    background-color: #f2f2f2;
    border: 2px solid #555555;
    text-align: center;
    line-height: 1.42857;
    width: 20px;
    float: left;
    
}
ul:after {
    content: "";
    display: block;
    clear: both;
}

a:hover {
    opacity: 0.7;
    background-color: #555555;
    color: white;
}

.p2-box {
    clear: both;
}

.p2-search-box {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: white;
    padding: 2px 5px 5px 10px;
    float: right;
}


.p2-images {
    clear: both;
    width: 1000px;
    margin: 0 auto;
}

.p2-images h2 {
    font-size: 25px;
    color: #3d3d3d;
    background: url(image/p2-key.png) no-repeat 250px center;
    background-size: 20px;
}

.p2-images h1 {
    font-size: 35px;
    font-family: 'Righteous', cursive;
    color: #3d3d3d;
    padding-bottom: 40px;
    float: left;
    
}


.p2-container img {
    width: 95%;
    height: 250px;
    padding-top: 7px;
    
}


    

.p2-scale-img {
    float: left;
    width: 33%;
}

.p2-container {
    width: 290px;
    height: 330px;
    margin: 0 auto;
    padding-left: 10px;
    background-color: white;
    margin-bottom: 30px;
}

.p2-container:hover {
    opacity: 0.7;
}


.p2-short {
    padding-top: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.p2-back {
    clear: both;
    text-align: right;
    padding-right: 70px;
    padding-top: 30px;
    font-family: 'Righteous', cursive;
    color: #3d3d3d;
    background: url(image/pg2-dog-paw.png)no-repeat left center;
    background-size: 50%;
}

.p2-footer {
    text-align: center;
    padding: 60px;
    background: url(image/pg2-dog-paw.png)no-repeat right center;
    background-size: 50px;
    
    clear: both; 
}
