.p5-container:after {
  content: "";
  display: block;
  clear: both;
}

.p5-title {
  margin: 60px 0 80px;
  font-family: 'Righteous', cursive;
  font-size: 40px;
  text-align: center;
}


.p5-container {
  margin-bottom: 100px;
}


.p5-box-form {
  width: 45%;
  margin: 20px 0 0px   82px;
  float: left;
}
.p5-box-form input {
  border: none;
}
.p5-table-form  {
  width: 100%;
  margin-bottom: 30px;
}
.p5-box-form  {
  position: relative;
}
/*.p5-box-form:before  {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid  #999;
}
.p5-box-form:after  {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  border-bottom: 1px solid #F9F8ED;
}*/
.p5-map-box {
  position: relative;
  width: 48%;
  float: left;
}
.p5-info-title {
  margin-bottom: 30px;
  font-family: 'Righteous', cursive;
  font-size: 34px;
  color: #3d3d3d;
}
    .p5-info-title span{
      color: #B1B1B1;
    }

.p5-list-info {
  margin-bottom: 45px;
}
.p5-list-info li {
  line-height: 1.4;
  font-size: 16px;
  margin-bottom: 20px;
}
/*.p5-map-box:before {
  content: "";
  display: block;
  position: relative;
  top: -16px;
  left: 50%;
  margin-left: -65px;
  width: 100px;
  border-top: 1px solid #999;
  transform: rotate(-135deg);
}
.p5-map-box:after {
  content: "";
  display: block;
  position: relative;
  top: -16px;
  left: 50%;
  margin-left: -65px;
  width: 100px;
  border-top: 1px solid #999;
  transform: rotate(-270deg);
}*/
.p5-map-box iframe {
  width: 100%;
  height: 355px;
}







.p5-table-form, .p5-table-form td, .p5-table-form th  {
  border-bottom: 1px solid #999;
}
.p5-table-form label {
  margin-right: 10px;
  font-size: 16px;
}
.p5-table-form .required {
  font-size: 12px;
  color: red;
}
.p5-table-form p {
  margin-bottom: 20px;
}

.p5-form-button {
  width: 100%;
}
    .p5-form-button  button {
      width: 250px;
      height: 50px;
      background-color: transparent;
      border: 1px solid #ccc;
      cursor: pointer;
      outline: none;
      padding: 0;
      appearance: none;
      background-color: #EDD16B;
      color: #fff;
      font-size: 15px;
    }
    .p5-form-button  button:hover {
      opacity: .7;
    }

tbody {
  /*background-color: #ccc;*/
    /*border:1px solid #CCCCCC;*/
}
tbody th {
width:30%;
/*background-color: #b1b1b1;*/
/*border:1px solid #CCCCCC;*/
}
tbody th, td{
padding:10px;
/*border:1px solid #CCCCCC;*/
vertical-align: middle;
font-weight: normal;
/*font-size: 100%;*/
text-align: left;
}
tbody td{
  border-left: 1px dotted #999;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea,select{
width: 97%;
background-color: transparent;
color: #000;
padding:10px 0 10px 10px;
margin:10px 0;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,select:focus{
/*background-color: #fff;*/
}
