body {
    margin: 0;
}

.p5-header {
    font-family: fantasy;
    font-size: 20px;
}

.p5-images {
    max-width: 100%;
    height: auto;
}

.p5-header {
    position: relative;
    
}

.p5-header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-size: 50px;
}