/*body {

    margin: 0 auto;
    overflow: scroll;
    background-color: #f9f8ed;
}*/

.p3-header {
    background-color: #f9f8f4;
    padding: 60px;
    text-align: center;

}

.p3-header h1 {
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: #3d3d3d;
    padding: 0 50px;
    text-align: center;

}



.p3-header h1  {
    color: #b1b1b1;
}

.p3-header span  {
    color: black;
}

.p3-navbar {
    background-color: #b1b1b1;
    overflow: hidden;
}

.p3-navbar li {
    width: 80px;
    float: left;
    display: inline;
}


.p3-navbar a {
    display: block;
    text-align: center;
    color: white;
    padding: 18px;
    text-decoration: none;
    width: 40px;
    font-size: 20px;
}

.p3-navbar a:hover {
    background: url(image/pg2-dog-paw.png)no-repeat left center;
    background-size: 50%;
}

h1  {
    font-family: 'Righteous', cursive;
    font-size: 30px;
}

    h2  {
    font-family: 'Righteous', cursive;
    font-size: 25px;
}

    h3  {
    font-family: 'Righteous', cursive;
    font-size: 18px;
    color: darkgrey;
}

div.p3-div1 {

    position: relative;
    top: 20px;
    left: 120px;

}

div.p3-div1 p {
    font-family: 'Righteous', cursive;
    color: darkgrey;

}



ul.p3-ul1 {
    list-style: disc;
    font-size: 20px;
    padding: 20px;
}

img.p3-img1 {
    position: relative;
    left: 600px;
    top: -100px;
    box-shadow: 2px 2px 8px;
    width: 300px;

}

img.p3-img2 {
    position: relative;
    left: 350px;
    top: -350px;
    box-shadow: 2px 2px 8px;
    width: 300px;
}

div.p3-div2 {
    position: relative;
    top: -50px;
    left: 150px;
}

div.p3-div2-1 {
    position: relative;
    top: -20px;
    left: 150px;

}

div.p3-div2 img:hover {
    opacity: 0.7;
    box-shadow: 2px 2px 8px black;

}

div.p3-div2-1 img:hover {
    opacity: 0.7;
    box-shadow: 2px 2px 8px black;

}

div.p3-div2 a {
    margin: 20px;
    padding: 15px;
}

div.p3-div2-1 a {
    margin: 20px;
    padding: 15px;
}

div.p3-div3 {
    position: relative;
    top: -10px;
    left: 150px;
    border-top: 2px black;
}

div.p3-div3 img:hover {
    opacity: 0.7;
    box-shadow: 2px 2px 8px black;

}

div.p3-div3 a {
    margin: 5px;
    padding: 5px;
}
