    h1  {
    font-family: 'Righteous', cursive;
    font-size: 30px;
}

    h2  {
    font-family: 'Righteous', cursive;
    font-size: 25px;
}

    h3  {
    font-family: 'Righteous', cursive;
    font-size: 18px;
    color: darkgrey;
}